<html>

<head>
  <title>{{ meta.title }}</title>
</head>

<body>
  <main>
    <h1>{{ fields.header }}</h1>
    <div>{{ fields.content }}</div>
  </main>

  <footer>
    <ul>
      <a href="{{ root.path }}">
        <li>Home</li>
      </a>
      {{#each root.children}}
      <a href="{{ this.path }}">
        <li>{{ this.meta.title }}</li>
      </a>
      {{~/each}}
    </ul>
  </footer>
</body>

</html>